<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>delete</title>
</head>
<body>
<div class="jumbotron" align="center">
    <h1>update student progess report</h1>
<form method="post">
    {% csrf_token %}
    studentname:<input type="text" name="sname" value="{{ t.sname }}"><br>
        studentid:<input type="text" name="sid" value="{{ t.sid}}"><br>
        studentmarks:<input type="text" name="smarks" value="{{ t.smarks }}"><br>
        studentclass:<input type="text" name="sclass" value="{{ t.sclass }}"><br>
    <input type="submit" value="enter record" class="btn btn-primary"></form>
</div>
</body>
</html>