table{
    background:url("https://images.unsplash.com/photo-1472214103451-9374bd1c798e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
    color: blue;
    padding: 2px;
    margin-top: 50px;
}
body{
    background: lightskyblue;
    text-align: center;
}
th{
    color:orangered;
}